{% extends "layout.html" %}

{% block title %}Flack{% endblock %}

{% block main %}
  <br>
  <br>
  <h1 class="display">Chatroom Application</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6" id="form">
      {% if not name %}
        <form id="formDisplay">
          <div class="form-group">
            <lable for="name">Please Register</label>
            <input id="name" type="text" class="form-control" placeholder="Enter Name">
            <small class="form-text text-muted"></small>
          </div>
          <button class="btn btn-primary" type="submit">Enter</button>
        </form>
      {% endif %}
      </div>
    </div>
    <br>
    <br>
    <img class="img-fluid" style="width: 20%;" src="/static/trump.jpg" alt="Flack">
  </div>
  <br>
  <br>
  <div class="container" id="DisplayName">
    {% if name %}<h2>Hello <span style="color: #65d3fd;">{{ name }}</span> &apple; </h2>{% endif %}
    <div id="user-data" data-username="{{ name }}"></div>
  </div>

  <div id="channelContainer" class="container col-md-6" style="{% if name %}{% else %}display: none;{% endif %}" id="createChannel">
    <form id="formChannel">
      <div class="form-group">
        <label for="channel">Create a New Channel</label>
        <input id="channel" type="text" autocomplete="off" class="form-control" placeholder="Enter Channel Name">
        <small id="channelMessage" style="color: #096bff"></small>
      </div>
      <button class="btn btn-primary" type="submit">Create Channel</button>
    </form>
    <br>
    <br>
  </div>
  <div class="container">
    <ul class="list-unstyled">
      <li style="font-weight: bold; font-size: 1.3rem;">Chatrooms</li>
      <hr class="col-md-6">
    </ul>
    <ul class="list-unstyled" id="channelList">
      {% if channels %}
        {% for channel in channels %}
        <li class="channel-list-item">{{ channel.name }}</li>
        {% endfor %}
      {% else %}
        <li>- No available Channels -</li>
      {% endif %}
    </ul>
  </div>
  <div id="chatWindow" class="container chatWindow" style="visibility: hidden;">
    <div class="container text-muted" id="title"></div>
    <div class="container chatMessages">
      <br>
      <ul class="list-unstyled" id="chatMessages">

      </ul>
    </div>
    <div class="container chatTyping">
      <form id="formTyping">
        <div class="form-row">
          <div class="col-11">
            <input id="message" type="text" autocomplete="off" name="messageTyping" placeholder="Type message" class="form-control">
          </div>
          <div class="col-1">
              <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="/static/formName.js"></script>
  <script>
    // THIS IS FOR CREATING A NEW CHANNEL
    document.addEventListener('DOMContentLoaded', () => {
      if (document.querySelector('#channelContainer')){
        document.querySelector('#formChannel').onsubmit = () => {
          let request = new XMLHttpRequest;
          let data = new FormData();
          let channel = document.querySelector('#channel').value;

          if (channel == '') {
            document.querySelector('#channelMessage').innerHTML = "This field can`t be empty!";
            return false;
          } else {

            data.append('channel', channel);
            request.open('POST', '/channel');
            request.send(data);
            request.onload = () => {
              let data = JSON.parse(request.responseText);

              if (data.success){
                let list = document.querySelector('#channelList');
                while (list.firstChild) {
                  list.removeChild(list.firstChild);
                }
                // for everyone create a new li tag
                for (let i = 0; i < data.channels.length ; i++){
                  let elem = document.createElement('li');
                  elem.className = 'channel-list-item';
                  elem.innerHTML = data.channels[i]["name"];
                  list.append(elem);
                }

                // Messages to show for the User
                document.querySelector('#channelMessage').innerHTML = `Your channel ${channel} has been created`;

              }else{
                document.querySelector('#channelMessage').innerHTML = `There was an error. ${channel} already exist`;
              }
            }
            // Stop the form submission
            return false;
          }
        }
      }
    });
  </script>
  <script>
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    var template = Handlebars.compile(document.querySelector('#template').innerHTML);

    var list = document.querySelector('#channelList');

    var chatWindow = document.querySelector('#chatWindow');
    var chatMessages = document.querySelector('#chatMessages');
    var formTyping = document.querySelector('#formTyping');
    var message = document.querySelector('#message');
    var allChannels = document.querySelector('#channelList').childNodes;

    {% if lastChannel %}
      for ( let j = 0; j < allChannels.length; j++){
        if (allChannels[j].innerHTML == "{{ lastChannel }}"){
          if (chatWindow.style.visibility === "hidden"){
            chatWindow.style.visibility = 'visible';
          }

          var title = document.querySelector('#title');
          title.innerHTML = "{{ lastChannel }}";
          socket.emit('update', {"channel": title.innerHTML});
        }
      }
    {% endif %}

    list.addEventListener('mouseenter', () => {
      allChannels = document.querySelector('#channelList').childNodes;

      if (allChannels != null){


        for (let i = 0; i < allChannels.length; i++){
          allChannels[i].onclick = () => {

            if (chatWindow.style.visibility === "hidden"){
              chatWindow.style.visibility = 'visible';
            }

            var title = document.querySelector('#title');
            title.innerHTML = allChannels[i].innerHTML;


            let request = new XMLHttpRequest;
            request.open('POST', '/lastChannel')
            request.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            request.send("lastChannel=" + title.innerHTML);

            chatMessages.innerHTML = '';
            socket.emit('update', {"channel": title.innerHTML});
            location.reload()
          }
        }
      }
    });

    socket.on('connect', () => {

      formTyping.onsubmit = () => {
        socket.emit('sendMessage', {"channel": title.innerHTML, "message": message.value});
        message.value = '';
        return false;
      }
    });

    socket.on('updateChat', function(data, name) {
      if (data != 'notFound'){
        let username = document.querySelector('#user-data').dataset.username;

        if (name == username) {
          for (var i = 0; i < data.length; i++){

            if (data[i].message != null){
              oldLi = template({"time": data[i].time, "sender": data[i].sender, "message": data[i].message});
              chatMessages.innerHTML += oldLi;
            }
          }
        }
      }else{
        chatMessages.innerHTML = '';
      }
    });

    socket.on('update', data => {
      newLi = template({"time": data.time, "sender": data.sender, "message": data.message});
      chatMessages.innerHTML += (newLi);
    });
  </script>
{% endblock %}
