{% extends "layout.html" %}

{% block title %}Flack{% endblock %}

{% block main %}
  <br>
  <br>
  <h1 class="display">Chatroom Application</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6" id="form">
      {% if not name %}
        <form id="formDisplay">
          <div class="form-group">
            <lable for="name">Please Register</label>
            <input id="name" type="text" class="form-control" placeholder="Enter Name">
            <small class="form-text text-muted"></small>
          </div>
          <button class="btn btn-primary" type="submit">Register</button>
        </form>
      {% endif %}
      </div>
    </div>
    <br>
    <br>
    <img class="img-fluid" style="width: 20%;" src="/static/trump.jpg" alt="Flack">
  </div>
  <br>
  <br>
  <div class="container" id="DisplayName">
    {% if name %}<h2>Signed in as <span style="color: #16167F;">{{ name }}</span></h2>{% endif %}
    <div id="user-data" data-username="{{ name }}"></div>
  </div>

  <div id="channelContainer" class="container col-md-6" style="{% if name %}{% else %}display: none;{% endif %}" id="createChannel">
    <form id="formChannel">
      <div class="form-group">
        <label for="channel">Create a New Channel</label>
        <input id="channel" type="text" autocomplete="off" class="form-control" placeholder="Enter Channel Name">
        <small id="channelMessage" style="color: #096bff"></small>
      </div>
      <button class="btn btn-primary" type="submit">Create Channel</button>
    </form>
    <br>
    <br>
  </div>
  <div class="container">
    <ul class="list-unstyled">
      <li style="font-weight: bold; font-size: 1.3rem;">Chatrooms</li>
      <hr class="col-md-6">
    </ul>
    <ul class="list-unstyled" id="channelList">
      {% if channels %}
        {% for channel in channels %}
        <li class="channel-list-item">{{ channel.name }}</li>
        {% endfor %}
      {% else %}
        <li>- No available Channels -</li>
      {% endif %}
    </ul>
  </div>
  <div id="chatWindow" class="container chatWindow" style="visibility: hidden;">
    <div class="container text-muted" id="title"></div>
    <div class="container chatMessages">
      <br>
      <ul class="list-unstyled" id="chatMessages">

      </ul>
    </div>
    <div class="container chatTyping">
      <form id="formTyping">
        <div class="form-row">
          <div class="col-11">
            <input id="message" type="text" autocomplete="off" name="messageTyping" placeholder="Type message" class="form-control">
          </div>
          <div class="col-1">
              <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="/static/form.js"></script>
  <script src="/static/new_channel.js"></script>
  <script src="static/form.js"></script>
{% endblock %}
